<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Berytech</title>
  <%- include common.ejs %>
</head>

<body>
  <div class="container">
    
    <%- include menu.ejs %>
    <p></p>
    <p style="color: red;"><%=message%></p>


    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="upload" multiple>
      <input type="submit" value="Upload">

    </form>
  </div>
</body>

</html>