<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Berytech</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <p style="color: red;"><%=message%></p>
    
    <form action="/" enctype="multipart/form-data" method="post">
      <input type="file" name="upload" multiple>
      <input type="submit" value="Upload">
  </form>

  </body>
</html>