<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <h1>Berytech Express Boilerplate EJS</h1>
    <p>Welcome to the userinterface</p>

  </body>
</html>
