<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<%- include common.ejs %>
	<!-- Write your comments here -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/excel-2007.css" />
	<script lang="javascript">
		function ChangeTableClass(newClass) {
			document.getElementById("TheTable").className = "ExcelTable" + newClass;
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>Slack Data</title>
</head>
<body>
	<div class="container">
	<%- include menu.ejs %>
	<p></p>
		<!-- I try to get the format of an excel file -->
		Select the look and feel:
		<select onchange='ChangeTableClass(this.options[this.selectedIndex].value);'>
			<option value="None">HTML Default -- look and feel</option>
			<option value="2007">Excel 2007 -- look and feel</option>
		</select>

	</p>

	<table id="TheTable" border="1" class="">
		<tr>
			<th class="heading">&nbsp;</th>
			<th>first name</th>
			<th>last name</th>
			<th>email</th>
			<th>team-name</th>
		</tr>
		<tr>
			<td class="heading">2</td>
			<td align="left" valign="bottom"><b>Rana</b></td>
			<td align="right" valign="bottom"><b>sawaya</b</td>
			<td align="right" valign="bottom"><b>RanaS@gmail.com</b</td>
			<td align="right" valign="bottom"><b>Team 1</b</td>
		</tr>
		<tr>
			<td class="heading">3</td>
			<td align="left" valign="bottom">Gardenia </td>
			<td align="right" valign="bottom">Homsi</td>
			<td align="right" valign="bottom">gardiniahomsi@gmail.com</td>
			<td align="right" valign="bottom">Team 2</td>
		</tr>
		<tr>
			<td class="heading">4</td>
			<td align="left" valign="bottom">Sevag </td>
			<td align="right" valign="bottom">Bakikian</td>
			<td align="right" valign="bottom">SevagB@gmail.com</td>
			<td align="right" valign="bottom">Team 3</td </tr> </table> </body></div> </html>